doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title MIMIC — Gallery
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")


  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('scripts/initialize');
    require('scripts/gallery');

body.gallery-wrapper
  .head
    .container
      include components/header

  .filters
    .container
      .filter-characters
        | Characters

      .slash
        | /

      .filter-stages
        | Stages

      .slash
        | /

      .filter-action
        | In Action

  .gallery
    .container.thumbs
      .fotorama.gallery-list(data-auto="false"
       data-allow-full-screen="true"
       data-thumb-width="70"
       data-thumb-height="47"
       data-nav="thumbs")

        a.gallery-item(href="./images/gallery/photo-1.jpg")
          img(src="./images/gallery/photo-1.jpg")

        a.gallery-item(href="./images/gallery/photo-2.jpg")
          img(src="./images/gallery/photo-2.jpg")

        a.gallery-item(href="./images/gallery/photo-3.jpg")
          img(src="./images/gallery/photo-3.jpg")

        a.gallery-item(href="./images/gallery/photo-4.jpg")
          img(src="./images/gallery/photo-4.jpg")

        a.gallery-item(href="./images/gallery/photo-5.jpg")
          img(src="./images/gallery/photo-5.jpg")

        a.gallery-item(href="./images/gallery/photo-6.jpg")
          img(src="./images/gallery/photo-6.jpg")

        a.gallery-item(href="./images/gallery/photo-7.jpg")
          img(src="./images/gallery/photo-7.jpg")

        a.gallery-item(href="./images/gallery/photo-8.jpg")
          img(src="./images/gallery/photo-8.jpg")

        a.gallery-item(href="./images/gallery/photo-9.jpg")
          img(src="./images/gallery/photo-9.jpg")

        a.gallery-item(href="./images/gallery/photo-10.jpg")
          img(src="./images/gallery/photo-10.jpg")

        a.gallery-item(href="./images/gallery/photo-11.jpg")
          img(src="./images/gallery/photo-11.jpg")

        a.gallery-item(href="./images/gallery/photo-12.jpg")
          img(src="./images/gallery/photo-12.jpg")

        a.gallery-item(href="./images/gallery/photo-13.jpg")
          img(src="./images/gallery/photo-13.jpg")

        a.gallery-item(href="./images/gallery/photo-14.jpg")
          img(src="./images/gallery/photo-14.jpg")

        a.gallery-item(href="./images/gallery/photo-15.jpg")
          img(src="./images/gallery/photo-15.jpg")

        a.gallery-item(href="./images/gallery/photo-16.jpg")
          img(src="./images/gallery/photo-16.jpg")

        a.gallery-item(href="./images/gallery/photo-17.jpg")
          img(src="./images/gallery/photo-17.jpg")


  .pagination
    .container
      .pagination-list
        .pagination-item.pagination-active
          | 1
        .pagination-item
          | 2
        .pagination-item
          | 3
        .pagination-item
          | 4
        .pagination-item
          | 5
        .pagination-item
          | 6
        .pagination-item
          | 7
        .pagination-dots
          | ...


  include components/footer
